#head{
  height: 150px;
  background-color: #F5F5F5;
  border: 1px solid #CDCDCD;
  /* margin-bottom:5px;  */
  width: 100%;
}
#head-link {
  height: 30px;
  /* line-height: 30px;
  padding-left: 10px;
  padding-right: 10px; */
  border: 1px solid #CDCDCD;
  background-color: #F5F5F5;
  /* margin-bottom:5px;
  clear: both; */
  width: 100%;
  position: relative; 
  left: -2px; 
  top: -2px; 
  transition: none 0s ease 0s; 
  cursor: move;
}
#left {
  width: 221px;
  height: 650px;
  border: 1px solid #CDCDCD;
  float:left;
  background-color: #F5F5F5;
  margin-bottom: 5px;
  position: relative; 
  left: -100px; 
  top: 3px; 
  transition: none 0s ease 0s; 
  cursor: move;
}
  #content {
  width: 80%;
  height: 650px;
  border: 1px solid #CDCDCD;
  float:left;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  position: relative; 
  left: 119px;
  transition: none 0s ease 0s;
  cursor: move;
  top : -652px;
  clear: both;
}
  #right {
  width: 10%;
  height: 650px;
  border: 1px solid #CDCDCD;
  float:right;
  margin-bottom: 5px;
  position: relative; 
  left: -6px; 
  top: 1px; 
  transition: none 0s ease 0s; 
  cursor: move;
  background-color: #F5F5F5;
}
.navbar-brand{
  position: relative; 
  left: -13px; 
  top: 0px; 
  font-size: 30px;
}
#searchbutton{
  position: relative; 
  left: 348px; 
  top: 44.75px; 
  transition: none 0s ease 0s; 
  cursor: move;
}
.searchbar{
  position: relative; 
  left: 346px;
  top: 47px;
}
#head {
  height: 100px;
  background-color: #F5F5F5;
  border: 1px solid #CDCDCD;
  margin-bottom:5px;
  }
#footer {
  clear: both;
  height: 50px;
  clear: both;
  border: 1px solid #CDCDCD;
  background-color: #F8F8FF;
  position: relative; 
  left: -8px; 
  top: -653px; 
  transition: none 0s ease 0s; 
  cursor: move;
  }